.main-content
  padding: 5px
  max-height: calc(100vh - 51px)
  overflow-y: auto

.box
  margin: 5px
  background-color: #fff
  padding: 5px
  box-shadow: 0px 0px 5px #ddd

.coin-title
  font-size: 17px
  margin: 0
  border-bottom: 1px solid #ccc
  font-weight: bold

