@import url("https://fonts.googleapis.com/css?family=Lekton:400,700");
.row-col-no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.row-no-padding {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.App {
  background-color: #eee;
  height: 100%;
  min-height: 100vh;
  color: #333;
  font-family: 'Lekton', sans-serif; }

header.header {
  background-color: #43A047;
  display: flex;
  align-items: center;
  padding: 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 5; }
  header.header.h-blue {
    background-color: #0288D1; }
  header.header.h-white {
    background-color: #fff; }

.site-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0; }
  .site-title span {
    font-size: 14px; }

p {
  margin: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px 10px 5px; }

input {
  border: none;
  padding: 0 5px;
  outline: none;
  width: 100%;
  border-bottom: 1px solid #999; }

.input-name {
  margin: 2px; }

.btn-multibox {
  background-color: #f4f4f4;
  border: none;
  padding: 5px 10px;
  box-shadow: 0px 0px 5px #bbb; }

.total-center {
  justify-content: center;
  align-items: center;
  display: flex; }

h2.main-title {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px; }

.category-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  padding: 10px; }
  .category-wrapper a {
    text-align: center; }
    .category-wrapper a img.icon-category {
      margin: 10px; }
    .category-wrapper a h3.title {
      text-align: center;
      font-size: 18px; }

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.sidebar {
  background-color: #0288D1;
  color: white;
  height: 100%;
  min-height: 100vh; }
  .sidebar .multi-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 51px); }
    .sidebar .multi-menu .link-wrapper {
      padding: 10px; }
      .sidebar .multi-menu .link-wrapper .menu-entry {
        color: #ffffff; }
        .sidebar .multi-menu .link-wrapper .menu-entry h1 {
          font-size: 18px;
          margin: 5px 0; }
        .sidebar .multi-menu .link-wrapper .menu-entry:hover {
          text-decoration: none;
          color: #ddd; }
  @media screen and (max-width: 768px) {
    .sidebar {
      height: 100%;
      min-height: 100%; }
      .sidebar .multi-menu {
        height: inherit;
        flex-direction: row; }
        .sidebar .multi-menu .link-wrapper {
          display: flex;
          justify-content: center;
          flex-direction: column;
          margin: 10px; }
          .sidebar .multi-menu .link-wrapper .menu-entry {
            padding-left: 10px;
            border-left: 1px solid white; } }

.main-content {
  padding: 5px;
  max-height: calc(100vh - 51px);
  overflow-y: auto; }

.box {
  margin: 5px;
  background-color: #fff;
  padding: 5px;
  box-shadow: 0px 0px 5px #ddd; }

.coin-title {
  font-size: 17px;
  margin: 0;
  border-bottom: 1px solid #ccc;
  font-weight: bold; }

.coin-logo {
  width: 50px;
  height: 50px;
  margin: 0 20px 0 10px; }

.coin-info {
  display: flex;
  align-items: center; }

.algorithm-type {
  font-size: 14px;
  font-weight: bold; }

.coin-value-converter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10px; }

.tv {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px; }

.resolution-input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0; }

.tv span {
  font-size: 11px; }

input.date {
  width: inherit;
  margin: 0 5px; }

.calculated-date {
  padding-top: 10px; }

.string-date-description {
  padding-bottom: 10px; }

.contraster {
  display: flex;
  flex-direction: column-reverse; }
  .contraster .color-wrapper {
    padding: 10px; }

.color-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .color-box .color-text {
    font-size: 20px;
    margin: 50px;
    text-transform: uppercase; }

.color-result {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  text-decoration: underline;
  font-weight: bold;
  line-height: 15px; }

.color-pickers {
  display: flex;
  flex-direction: column; }

.github-picker:first-of-type {
  margin-bottom: 10px; }

.color-palette {
  padding: 10px; }
  .color-palette .palette-name {
    text-transform: uppercase; }
  .color-palette .color-square {
    padding: 10px 5px; }

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 10;
    cursor: default; }
